<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
<title>GeoHashCache - About</title>
{% endblock %}

{% block row %}
<!--insert stuff about us -->
<p>GeoHashCache was founded by Shawn Li, Albert Mokrejs, and Samuel Zhang in Mr. Zamansky's period 7 softdev class. It is an attempt to
combine the sport of GeoCaching with the mathematics of geoHashing.</p>

<a href=https://github.com/AlbertMokrejs/GeoHashCache/blob/master/README.md>Readme file is here.</a>


<div class="col-lg-12">
	<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
</div>	
{% endblock %}
