<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
	
	
    {% block title %}
    {% endblock %}
    
    <!-- Bootstrap Core CSS -->
    <link href="../static/styles/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/styles/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/styles/css/simple-sidebar.css" rel="stylesheet">
    <link href="/static/styles/css/simple-sidebar.css" rel="stylesheet">

    <link href="../static/styles/css/style.css" rel="stylesheet">
    <link href="/static/styles/css/style.css" rel="stylesheet">

    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
	      <br>
                <li class="sidebar-brand">
                    <a href="/home">
                        <img src="/static/images/GHC.png" onmouseover="this.src='/static/images/GHCshadow.png'" onmouseout="this.src='/static/images/GHC.png'" width="200" height="200">
                    </a>
                </li>
		<br><br><br><br><br><br><br><br>
		{% if Username %}
		<li>
		  <a href="user/{{Username}}">{{Username}}</a>
		</li>
		<li>
		  <a href="/logout">Sign out</a>
		</li>
		{% else %}
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/register">Register</a>
                </li>
		{% endif %}
                <li>
                    <a href="/found">Found a Cache</a>
                </li>
                <li>
                    <a href="/find">Find a Cache</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/help">Help</a>
                </li>
                <li>
                    <a href="/donation">Donation</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
		  {% block row %}
                    
		  {% endblock %}
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../static/styles/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/styles/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
  <script type="text/javascript">
    var locations = {{LocList|safe}};

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 3,
      center: new google.maps.LatLng({{Lon}}, {{Lat}}),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  </script>
</body>

</html>
