<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
<title>GeoHashCache - HomePage</title>
{% endblock %}

{% block row %}
<h1>GeoHashCache - General Proposal</h1>
<p>Geocaching generally refers to the internet "sport" of venturing out into the world in search of objects (called "Caches") hidden by other geocachers. The clues to finding these are usually a set of vague GPS coordinates, along with some sort of riddle, puzzle, map or challenge. These can vary from finding a particular tree to look under to hacking a simulated wifi-network to get the actual set of coordinates (Cicada 3301). However, there is a finite number of unmoving caches in traditional geocaching, which means dedicated geocachers can potentially find every cache in their area which would leave them with nothing to do.</p><br>

<p>Therefore, we propose a geohash-augmented form of geocaching. Geohashing uses a combination of inputs including GPS coordinates, the date, the daily stock market stats, and other data to generate new GPS coordinates. These coordinates can be confined to a certain range or area. Our idea is to make use of a Geohash to generate new coordinates for a cache once it is found. When a geocacher finds a geohashcash, the website generates a new coordinate in their area for them to relocate the cache to. They can produce a new challenge and riddle for the cache when they do this, and it gets updated. This would allow for geocachers who live in areas with very few caches to still keep finding novel caches because the caches are moved everytime someone finds one. The same cache could be on the Empire State Building today and end up in a pizzaria in Tribeca tomorrow.</p>

<div class="col-lg-12">
	<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
</div>	{% endblock %}
