<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
<title>GeoHashCache - Register</title>
{% endblock %}

{% block row %}

{% if error %}
<center><h3>{{error}}</h3></center><br><br>
{% endif %}

<center><br><br><form class="form-container" method="POST">
<div class="form-title"><h2>Register</h2></div>
<div class="form-title" style="text-align:left">Username :</div>
<input class="form-field" type="text" name="username" placeholder="username" required/><br />
<div class="form-title" style="text-align:left">Password :</div>
<input class="form-field" type="password" name="password" placeholder="password" required/><br />
<div class="form-title" style="text-align:left">Confirm Password :</div>
<input class="form-field" type="password" name="confirm" placeholder="confirm" required/><br />
<div class="submit-container">
<input class="submit-button" name="button" type="submit" value="Submit" />
</div>
</form>
<br><br></center>
<div class="col-lg-12">
	<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
</div>	
{% endblock %}
