<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
GeoHashCache - Register
{% endblock %}

{% block row %}

{if error %}
<center><h3>{{error}}</h3></center><br><br>
{% endif %}

<form class="form-container" method="POST">
<div class="form-title"><h2>Register</h2></div>
<div class="form-title">Username :</div>
<input class="form-field" type="text" name="username" placeholder="username" required/><br />
<div class="form-title">Password :</div>
<input class="form-field" type="text" name="password" placeholder="password" required/><br />
<div class="form-title">Confirm Password :</div>
<input class="form-field" type="text" name="confirm" placeholder="confirm" required/><br />
<div class="submit-container">
<input class="submit-button" name="button" type="submit" value="Submit" />
</div>
</form>

{% endblock %}
