<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
<title>GeoHashCache - {{Username}}</title>
{% endblock %}

{% block row %}
	<center><h1>{{Username}}</h1>
	{% if Error %}
	<br><h3>{{Error}}</h3><br>
  	{% else %}
  		<br>
  		<h2> Caches validated by this user:</h2><br>
		<table>
    		{% for r in Data %}
       			<tr>
			<td><h4>{{r[0]}} : </h4></td>
			<td> <h4>: {{r[1]}} :</h4></td>
			<td> <h4>: {{r[2]}}</h4></td>
			</tr>
		{% endfor %}
  	{% endif %}
	</table>
	<div class="col-lg-12">
		<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
	</div>
{% endblock %}
